<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    
        <div class="container">
    
            <div class="header">
                <a href="/">Home</a>
            </div>
    
            <div class="bookinfo">
    
                <h1>{{book_html.title}}</h1>
                <p>ID: {{book_html.id}}</p>
                <p>
                    Description:
                    <p>{{book_html.desc}}</p>
                </p>
                <p>Authors:</p>
                <ul>
                    {% for author in book_authors_html %}
                        <li>{{author.first_name}} {{author.last_name}}</li>
                    {% endfor %}
                </ul>
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{message.tags}}">{{message}}</p>
                    {% endfor %}
                {% endif %}
                <form action="/add_author/{{book_html.id}}" method="post">
                    {% csrf_token %}
                    <select name="author" id="add_author">
                        {% for author in all_authors_html %}
                            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
    
            </div>
        </div>
    
    </body>
</html>